<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-icon size="large" name="notifications" slot="end"  ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="back_color">
  <ion-card class="welcome-card">
    <img src="./assets/event3.jpg">
      <ion-card-header>
        <ion-card-subtitle>Music Concert</ion-card-subtitle>
        <ion-card-title>Sula Vinayards</ion-card-title>
      </ion-card-header>
      <ion-card-content>Guru Randhava and Darshan Rawals live Concert , on 12 Feb at Sula Vineyards.Inviting all of  you to buy passes at just 100/-</ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <img src="./assets/event4.jpg">
      <ion-card-header>
        <ion-card-subtitle>Python seminar </ion-card-subtitle>
        <ion-card-title>Winjit nashik</ion-card-title>
      </ion-card-header>
      <ion-card-content>For all students and Developers,
        on 3 march 2020, starts at 9:30 am
      </ion-card-content>
  </ion-card>


      
</ion-content>
