.header_color{
    --ion-background-color : rgb(103, 51, 199);
    color: aliceblue;
}
.back_color{
    --background: #fff url('../../assets/event1.jpg') no-repeat center center / cover;

}
.send_center{
   color: #ffffff;
}
.forget_style{
    color: #ffffff;
}
.textbox_style{
    --ion-background-color :  rgb(242, 247, 245);
    --border-radius : 20px;
  
  }

    